---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro"
import {client} from "../library/microcms"

export async function getStaticPaths() {
  const tags = await client.get({
    endpoint: 'tag'
  });
  return tags.contents.map((tag: any) => ({
    params: {
      tagId: tag.id,
    },
  }));
}
const { tagId } = Astro.params
const items = await client.get({
 endpoint: 'webcontents', //記事APIのエンドポイント
 queries: { filters: `tags[contains]${tagId}`} //カテゴリ用スキーマ名を指定
});

// 2度もやると二度手間だから後で直すかも
const searchTag = await client.get({
  endpoint: "tag",
})

const mainTag = searchTag.contents.find((t: any) => t.id === `${tagId}`)

// console.log()
---
<BaseLayout pageTitle={`タグ : ${mainTag.name} | HandyHacks`}>
  <Header />
  <h1>{mainTag.name}</h1>
  <div>
    全{items.totalCount}件
    {
      items.contents.map((item: any) => (
        <div class="item">
          <h3>
            {item.features}
          </h3>
          <p class="title">
            サイト名:{item.title}
          </p>
          <div class="linkWrapper">
            <a href={item.url} class="jumpLink">
              サイトへ行く
            </a>
            <a href={`/detail/${item.id}`} class="jumpDetail">
              詳細
            </a>
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>

<style>
.item {
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	box-shadow: 1px 1px 2px #dad5d5;
}

.item:nth-child(1) {
	
	background-color: #9BF6FF;
}

.item:nth-child(2) {
	background-color: #FFADAD;
}

.item:nth-child(3) {
	background-color: #CAFFBF;
}

.item-wrapper > .item:nth-child(4) {
	background-color: #9BF6FF;
}

.title {
	font-size: 11px;
}

.item-description {
	font-size: 13px;
}

.linkWrapper {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.jumpLink, .jumpDetail {
	background-color: #ffffff70;
	border: solid 1px #ffffff70;
	text-decoration: none;
	color: black;
	/* margin: 10px 20px; */
	padding: 3px;
	font-size: 10px;
	/* box-shadowの値を使いまわしたい */
	/* box-shadow: 1px 1px 2px #8b8b8b; */
}

.jumpLink {
	margin-right: 5px;
}

.jumpDetail {
	margin-left: 5px;
}

.jumpLink:active, .jumpDetail:active {
	box-shadow: 1px 1px 2px #dad5d5 inset;
}
</style>