---
import BaseLayout from '../layouts/BaseLayout.astro'
import TopSection from '../components/detail/TopSection.astro';
import ImageList from '../components/detail/popup/ImageList.astro';
import DescriptionSection from '../components/detail/DescriptionSection.astro';

import { getWebContents, getWebContentDetail } from "../library/microcms";
// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getWebContents({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      webcontentId: content.id,
    },
  }));
}

// 画像渡しテスト
// import Image1 from '../image/mobile/dummy-image-1.png'
// import Image2 from '../image/mobile/dummy-image-2.png'
// import ImageSe from '../image/iphonesedummy.png'
// import Image3 from '../image/mobile/dummy-image-3.png'
// import ImageEx from '../image/yokonaga.png'
// import Image4 from '../image/mobile/dummy-image-4.png'
// import Image5 from '../image/mobile/dummy-image-5.png'

// const images = [
//   Image1,
//   Image2,
//   ImageSe,
//   Image3,
//   ImageEx,
//   Image4,
//   Image5
// ]

//記事の詳細情報を取得
const { webcontentId } = Astro.params;
const webcontent = await getWebContentDetail(webcontentId as string);
const siteFetures = webcontent.features
const siteTitle = webcontent.title
const siteUrl = webcontent.url
const shortDescription = webcontent.shortdescription
const siteDescription = webcontent.description
const images = webcontent.images
---
<BaseLayout pageTitle={siteFetures}>
  <TopSection siteFeatures={siteFetures} siteTitle={siteTitle} shortDescription={shortDescription} siteUrl={siteUrl} />
  <ImageList images={images} />
  <DescriptionSection siteDescription={siteDescription} />
    <!-- <h1 class="title">{webcontent.title}</h1>
    <p class="publishedAt">公開日時：{webcontent.publishedAt}</p>
    <div class="post" set:html={webcontent.content}></div> -->
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>